<li class="navItem">
    <a href="/" class="navText" >
        <!-- <img  src="thumbnail.png" width="70" height="30"> -->
        @genZwave
    </a>
</li>

<li class="navItem" style="float: right;">
    <a href="#Name" style="display: flex; padding: 19px;" class="navText">
        <p style="display: flex; margin: auto; padding-right: 15px ;"><%= username %></p> 
        <span class="material-symbols-outlined">
            account_circle
            </span>
    </a>
</li>
<!-- <li class="navItem" style="float: right;"><a href="#Channels" class="navText">Channels</a></li>
<li class="navItem" style="float: right;"><a href="#News" class="navText">News</a></li>
<li class="navItem" style="float: right;"><a href="#Music" class="navText">Music</a></li>
<li class="navItem" style="float: right;"><a href="#Podcasts" class="navText">Podcasts</a></li> -->
