.navBar {
    list-style-type: none;
    background-color: #242424;
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navItem {
    display: flex;
    flex-direction: row;
    float: left;
}

.navText {
    display: block;
    text-align: center;
    padding: 20px 20px;
    margin: auto;
    text-decoration: none;
    font-size: large;
    color: #E5D283;
    font-weight: 900;
    transition-duration: 0.2s;

}

.navText:hover {
    background-color: #213555;
    color: white;
    border-radius: 5px;
}

.material-symbols-outlined {
    margin: auto;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24

}

.material-symbols-outlined.md-60 {
    font-size: 60;
}

body {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #242424;
    font-family: 'Lato', sans-serif;
}

.prefBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #F0F0F0;
    border-radius: 30px;
    padding: 10%;
    font-size: large;
    font-weight: 400;
    align-items: center;
}

.chooseDjsBox {
    display: flex;
    flex-direction: column;
    background-color: #38465c;
    position: absolute;
    overflow: auto;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 30px;
    top: 60px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: 10px;
}

.djBox {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #1e2b3c;
    width: auto;
    height: 400px;
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px #181f28;
}

.scrollmenu {
    display: flex; 
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    align-self:flex-start;
    width: fit-content;
}

.song {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
   
}

.songname{
    font-size: large;
    font-weight: 700;
    color: white;
}

.player {
    display: flex;
    flex-direction: row;
    background-color: #213555;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: absolute;
    bottom: 0;
    right: 60px;
    left: 60px;
    height: 100px;
    box-shadow: 0px -2px 10px 2px hsla(0, 0%, 0%, 0.437);
}

.seekbarbox {
    display: flex;
    flex-direction: row;
    /* top: auto; */
    width: 500px;
    margin: auto;
    padding: auto;
}

.musicslider {
    width: 100%;
    height: 8px;
    background-color: #242424;
    color: #E5D283;
    margin-top: 10px;
}

.time {
    margin: 5px;
    text-wrap: nowrap;
    font-weight: 700;
    color: #E5D283;
}

.controls {
    display: "flex";
    margin-right: 20px;
    margin-top: 10px;
}

button {
    background-color: #E5D283;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    transition-duration: 0.4s;
    margin: 10px;
}

button:hover {
    background-color: #213555;
    color: white;
}

::-webkit-scrollbar {
    /* width: 50px; */
    height: 10px;
    width: 10px;
  }
  

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
    margin: 20px;
}


::-webkit-scrollbar-thumb {
    background: #E5D283; 
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #213555;    
}
