<!DOCTYPE html>
<html>
    <head>
        <title>GenZWave | Save Key</title>
        <%- include('../partials/head'); %>
    </head>

    <body>
        <nav class="navBar">
            <%- include("../partials/nav.ejs"); %>
        </nav>

        <div class="prefBox">
            <header style="font-weight: 700; font-size: larger; text-wrap: nowrap; margin: auto;">
                Hello, enter your username.
            </header>
                <form action="/key" method="POST" id="keygen" name="keygen" style="margin: 20px;">
                    <input type="text" id="username" name="username" required>
                    <a style="text-decoration: none; color: white;" >
                        <button type="submit">Continue</button>
                    </a>
                </form>
        </div>

    </body>
</html> 