<!DOCTYPE html>
<html>
    <head>
        <title>GenZWave | Radio Player</title>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <nav class="navBar">
            <%- include('../partials/nav'), { username } %>
        </nav>


        <div class="chooseDjsBox">
            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                <header style="font-weight: 700; font-size: 30px; color: black; margin-top: 30px; margin-left: 30px;">
                    Here's what we found based on your preferences...
                </header>
                <div>
                    <a style="text-decoration: none; color: white;" href="/pref">
                        <button style="text-wrap: nowrap; margin-top: 20px;">Change Preferences</button>
                    </a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-around;">
                <div class="scrollmenu" id="scrollmenu">
                    <template id="djBoxtemplate" >
                        <div class="djBox" id="djBox">
                            <div class="button-and-name" style="display: flex; flex-direction: row;">
                                <button class="playDjButton">Play</button>
                                <p id="djname" class="djname"
                                style="font-weight: 900; font-size: 25px; margin-left: 5px; margin-right: 30px; color: white;">
                                    Placeholder dj name
                                </p>
                            </div>
                            <p style="font-weight: 700; font-size: larger; color: aliceblue;">Music Queue:</p>
                            <div id="musicQueue">
                            </div>
                        
                        </div>
                    </template>
                    <template id="songtemplate">
                        <div class="song">
                            <picture style="margin: 10px;">
                                <img src="thumbnail.png" width="40" height="40" id="songart">
                            </picture>
                            <p id="songname" class="songname">Song Name</p>
                        </div>
                    </template>
                    <script src="js/genCardsDB.js" djData="<%= djData %>"></script>
                </div>
            </div>
        </div>
        
        <section class="player">
            <div style="float: left; margin-bottom: 15px; margin-left: 20px;">
                <h1 class="current-song-name" id="current-song-name">Nothing playing</h1>
                <p class="artist-name" id="artist-name">Nothing playing</p>
            </div>
            <div class="seekbarbox">
                <p class="time">00 : 00</p>
                <input type="range" class="musicslider" value="0">
                <p class="time">00 : 00</p>
            </div>

            <div class="controls">
                <button style="border-radius: 200px;" id="playerprev"><span class="material-symbols-outlined">skip_previous</span></button>
                <button style="border-radius: 200px;" id="playerplay"><span class="material-symbols-outlined">play_arrow</span></button>
                <button style="border-radius: 200px;" id="playernext"><span class="material-symbols-outlined">skip_next</span></button>
                <input type="range" max="1" value="1" step="0.2">
            </div>

        </section>
        <script src="js/playDj.js" lastPlayedDj="<%= lastPlayedDj %>"></script>
        <script src="js/activity.js"></script>



    </body>
</html>