<!DOCTYPE html>
<html>
    <head>
        <title>GenZWave | Choose your preferences</title>
        <%- include('../partials/head'); %>
        <script>
            function validatePref(){
                var prefData = {};

                const msg1 = validateForm('Genre');
                const msg2 = validateForm('Emotion');
                const msg3 = validateForm('Rhythm');

                if (msg1 != "" || msg2 != "" || msg3 != "" ){
                    const finalMsg = `${msg1} ${msg2} ${msg3}`.trim()
                    window.alert(`Select at least one option for ${finalMsg}`);
                    event.preventDefault();
                    return;
                }
                
                prefData.genre = [...document.querySelectorAll('#Genre input[type="checkbox"]:checked')].map(checkbox => checkbox.name);
                prefData.emotion = [...document.querySelectorAll('#Emotion input[type="checkbox"]:checked')].map(checkbox => checkbox.name);
                prefData.rhythm = [...document.querySelectorAll('#Rhythm input[type="checkbox"]:checked')].map(checkbox => checkbox.name);

                console.log(prefData)
                prefData = JSON.stringify(prefData);

                window.location.href = `/player?prefData=${prefData}`
               
            }

            function validateForm(formName) {
                var form = document.getElementById(formName);
                var checkboxes = form.querySelectorAll('input[type="checkbox"]');
                var isChecked = false;
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        isChecked = true;
                        return "";
                    }
                }

                if (!isChecked) {
                    return formName

                }
            }
        </script>
    </head>

    <body>
        <nav class="navBar">
            <%- include("../partials/nav.ejs"); %>
        </nav>

        <div class="prefBox">
            <header style="font-weight: 700; font-size: larger; text-wrap: nowrap; margin: auto;">
                Hello <%=username%>, choose your music preferences
            </header>
            <div style="display:flex; flex-direction: row; text-wrap: nowrap;">
                <form action="/processPref" method="POST" id="Genre" name="Genre" style="margin: 20px;">
                    <h4>What genres?</h4>
                    <input type="checkbox" name="rap">
                    <label for="rap">Rap</label><br>
                    <input type="checkbox" name="pop">
                    <label for="pop">Pop</label><br>
                    <input type="checkbox"name="rb">
                    <label for="rb">R&B</label><br>
                </form>
                <form action="/processPref" method="POST" id="Emotion" name="Emotion" style="margin:20px;">
                    <h4>What kind of emotions?</h4>
                    <input type="checkbox" name="hype">
                    <label for="hype">Hype</label><br>
                    <input type="checkbox" name="sad">
                    <label for="sad">Sad</label><br>
                    <input type="checkbox" name="romance">
                    <label for="romance">Romantic</label><br>
                </form>
                <form action="/processPref" method="POST" id="Rhythm" name="Rhythm" style="margin:20px;">
                    <h4>What kind of rhythm?</h4>
                    <input type="checkbox" name="slow">
                    <label for="slow">Slow tempo</label><br>
                    <input type="checkbox" name="fast">
                    <label for="fast">Fast tempo</label><br>
                </form>
            </div>
            <a style="text-decoration: none; color: white;" >
                <button type="submit" onclick="validatePref();">Save</button>
            </a>
        </div>

    </body>
</html> 